
@{
    ViewBag.Title = "index";
}

<h2>Elija el contenido que desea ver: </h2>

<a href ="/contenido/noticias">VER NOTICIAS</a>

<a href="/contenido/musica">VER MUSICA</a>

<a href="/contenido/peliculas">VER PELICULAS</a>   

