
@{
    ViewBag.Title = "musica";
}

<h2>Los principales portales de musica en la actualidad:</h2>

<a href="https://www.spotify.com/do/">SPOTIFY</a>
<hr />
<a href="https://www.youtube.com/">YOUTUBE</a>
<hr />
<a href="https://www.billboard.com/charts/hot-100">BILLBOARD</a>