
@{
    ViewBag.Title = "noticias";
}

<h2>NOTICIAS NACIONALES</h2>

<a href="https://hoy.com.do/" >PERIODICO HOY</a>
<hr />
<a href="https://listindiario.com/" > LISTIN DIARIO</a>
<hr />
<a href="https://www.diariolibre.com/" > DIARIO LIBRE</a>
<hr />
<a href="https://elnuevodiario.com.do/"> EL NUEVO DIARIO</a>
<hr />
<a href="https://gobernanzasdigital.com/"> GOBERNANZAS DIGITAL</a>


<h2>NOTICIAS INTERNACIONALES</h2>

<a href="https://www.rollingstone.com/">THE ROLLING STONE</a>
<hr />
<a href="https://www.nytimes.com/es/">THE NEW YORK TIMES</a>
<hr />
<a href="https://time.com/tag/australia/">AUSTRALIA TIME</a>
<hr />
<a href="https://www.ok.co.uk/">OK MAGAZINE</a>
<hr />
<a href="https://www.discovermagazine.com/">DISCOVER MAGAZINE</a>

