
@{
    ViewBag.Title = "peliculas";
}

<h2>PELICULAS DISPONIBLES</h2>

<h3>ACCION Y AVENTURAS</h3>

<iframe width="1044" height="587" src="https://www.youtube.com/embed/Kopyc23VfSw"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture" allowfullscreen></iframe>

<hr />

<iframe width="1044" height="587" src="https://www.youtube.com/embed/TcMBFSGVi1c"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture" allowfullscreen></iframe>

<hr />

<h3>DRAMAS</h3>


<iframe width="1044" height="587" src="https://www.youtube.com/embed/9ItBvH5J6ss"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture" allowfullscreen></iframe>

<hr />

<h3>INFANTILES</h3>

<iframe width="1214" height="507" src="https://www.youtube.com/embed/0URpDxIjZrQ"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; 
        picture-in-picture" allowfullscreen></iframe>

<h3>DOCUMENTALES</h3>

<iframe width="1202" height="587" src="https://www.youtube.com/embed/KocJP8dG1OA"
        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture" allowfullscreen></iframe>



