
@{
    ViewBag.Title = "conversiones";
}

<h2>Conversiones de longitudes</h2>

<h3>Temperatura: Celcius, Farenheit, Kelvin. </h3>
<div>
    <label>Digite la cantidad:</label>
    <input type="text" name="temp" />


    <h4>Elija a la temperatura que desea convertir</h4>
    <select id="operaciont" name="operaciont">
        <option value="" id="elija">Elija la temperatura</option>
        <option value="celcius1" name="temp">celcius a kelvin</option>
        <option value="celcius2" name="temp">celcius a ferengei</option>
        <option value="faren1" name="temp">faren a kelvin</option>
        <option value="faren2" name="temp">faren a celcius</option>
        <option value="kelvin1" name="temp">kelvin a celcius</option>
        <option value="kelvin2" name="temp">kelvin a faren</option>
    </select>
    <br />
    <button type="submit" name="calculart">Calcular</button>
    <br />
    <input type="text" name="resultt" />
</div>


<h3>Longitudes: Centimetro, Pies, Pulgadas, Metros, Kilometros y Millas </h3>
<div>
    <label>Digite la cantidad:</label>
    <input type="text" name="long" />
    <h6> De:</h6>
    <select id="operacionl" name="operacionl">

        <option value="" id="elija">Elija la conversion:</option>
        <option value="decm" id="decm">CM</option>
        <option value="dep" id="dep">PIES</option>
        <option value="depulg" id="depulg">PULG</option>
        <option value="dem" id="dem">METROS</option>
        <option value="dekm" id="dekm">KM</option>
        <option value="demil" id="demil">MILLAS</option>
    </select>

    <h6>A:</h6>
    <select id="operacionl2" name="operacionl2">
        <option value="" id="elija">Elija la conversion:</option>
        <option value="acm" id="decm">CM</option>
        <option value="ap" id="dep">PIES</option>
        <option value="apulg" id="depulg">PULG</option>
        <option value="am" id="dem">METROS</option>
        <option value="akm" id="dekm">KM</option>
        <option value="amil" id="demil">MILLAS</option>
    </select>
    <br />
    <button type="submit" name="calcularl">Calcular</button>
    <br />
    <input type="text" name="resultl" />
</div>

<h3>Masa: Gramo, Kilogramo, Onza y Libra.</h3>
<div>
    <label>Digite la cantidad:</label>
    <input type="text" name="masa" />

    <h6>De:</h6>
    <select id="operacionm" name="operacionm">
        <option value="" id="elija">Elija la opcion</option>
        <option value="gramo" id="gramo">gramo</option>
        <option value="kilog" id="kilog"> kilogramo</option>
        <option value="onza" id="onza">onza</option>
        <option value="libra" id="libra">libra</option>
    </select>

    <h6>A:</h6>
    <select id="operacionm2" name="operacionm2">
        <option value="" id="elija">Elija la opcion</option>
        <option value="gramo2" id="gramo2">gramo</option>
        <option value="kilog2" id="kilog2"> kilogramo</option>
        <option value="onza2" id="onza2">onza</option>
        <option value="libra2" id="libra2">libra</option>
    </select>

    <br />
    <button type="submit" name="calcularm">Calcular</button>
    <br />
    <input type="text" name="resultm" />
</div>

<h3>Datos: Bit, Byte, Kilobyte, Megabyte,Gigabyte,Terabyte.</h3>
<div>
    <label>Digite la cantidad:</label>
    <input type="text" name="datos" />

    <h6>De:</h6>
    <select id="operaciond" name="operaciond">
        <option value="" id="elija">Elija la opcion</option>
        <option value="Bit" id="Bit">Bit</option>
        <option value="Byte" id="Byte"> Byte</option>
        <option value="kb" id="kb">kb</option>
        <option value="mb" id="mb">mb</option>
        <option value="gb" id="gb">gb</option>
        <option value="tb" id="tb">tb</option>
    </select>

    <h6>A:</h6>
    <select id="operaciond" name="operaciond">
        <option value="" id="elija">Elija la opcion</option>
        <option value="bit2" id="bit2">bit</option>
        <option value="byte2" id="byte2"> byte</option>
        <option value="kb2" id="kb2">kb</option>
        <option value="mb2" id="mb2">mb</option>
        <option value="gb2" id="gb2">gb</option>
        <option value="tb2" id="tb2">tb</option>
    </select>

    <br />
    <button type="submit" name="calculard">Calcular</button>
    <br />
    <input type="text" name="resultd" />
</div>




